@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

#root {
  height: 100vh;
  perspective: 1000px;
}

.app {
  height: 100%;
  background-image: url("./assets/backg.jpg");
  background-size: 100% 100%;
}

.content {
  align-items: center;
  height: 100%;
  padding: 5px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
